@model IEnumerable<string>

<a class="btn btn-outline-info m-2" asp-controller="Role" asp-action="Users">@Localizer["ManageUsersRolesButtonText"]</a>

<ul>

    @foreach (var role in Model) {

        <li>@role</li>
    }

</ul>

<hr />

<form method="post" asp-controller="Role" asp-action="Create">

    <div class="form-group m-2">
        <label for="RoleName" class="mb-1">@Localizer["RoleNameLabel"]:</label>
        <input class="form-control w-25" name="RoleName" />
    </div>

    <button type="submit" class="btn btn-primary m-2">@Localizer["CreateRoleButtonText"]</button>

</form>